* {
    margin: 0;
    box-sizing: border-box;
}





h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;

}

.form {

    margin-right: 3rem;
}



.email_input {
    display: flex;
    width: 15rem;
    border: none;

}

.email {
    display: flex;
    border: 2px solid;
    border-radius: 0.5rem;

}

.email_icon {
    display: flex;
    width: 2.5rem;


}


.telefon_icon {
    display: flex;
    width: 1.5rem;
    opacity: 0.5;
}

.telefon {
    display: flex;
    border: 1px solid;
    border-radius: 0.5rem;
    height: 2rem;
}

.telefon_input {
    display: flex;
    width: 30rem;
    border: none;
    height: 1.7rem;
}

.country {
    display: flex;
    border: 2px solid;
    width: 8rem;
    border-radius: 0.5rem;
}


.country_select {
    display: flex;
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    border: none;

}

.country_icon {
    display: flex;
    width: 1.5rem;
    opacity: 0.5;
}

.post_code_icon {
    display: flex;
    width: 1.5rem;
    opacity: 0.5;

}

.post_code {
    padding-left: 7rem;
}


.post_icon {
    display: flex;
    border: 2px solid;
    width: 18rem;
    margin-left: 2.5rem;
    border-radius: 0.5rem;
}

.post_input {
    display: flex;
    width: 14rem;
    border: none;
    height: 1.7rem;
}

.alisveris {
    display: flex;
    background-color: rgb(220, 220, 220, 0.4);
    height: 35rem;
    margin-bottom: 10rem;
    width: 30rem;
    padding: 2rem;
    border-radius: 1rem;

}


.bag {
    display: flex;

}

.foto_1 img {

    border-radius: 1rem;
    height: 10rem;
    width: 8rem;
}


.etiket_1 h3 {
    padding-left: 2rem;
    padding-bottom: 0.5rem;

}



.ellidört {

    color: orange;
    font-size: x-large;
    padding-left: 2rem;
}


.button_1 {
    display: flex;


}

.eksi {
    margin-left: 0.5rem;
    font-size: xx-large;
    padding-left: px;
    background-color: rgb(237, 230, 230);
    border: none;
    border-radius: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.bir {
    font-size: x-large;
    margin-left: 1.5rem;
}

.arti {


    font-size: x-large;
    margin-left: 1.8rem;
    padding-left: 3px;
    background-color: rgb(237, 230, 230);
    border: none;
    border-radius: 0.5rem;
    width: 1.5rem;
    height: 2rem;

}


.etiket_1 div {
    margin-left: 2rem;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
}


.foto_2 {
    display: flex;

}

.foto_2 img {

    border-radius: 1rem;
    height: 10rem;
    width: 8rem;
    margin-top: 12rem;
    margin-left: -19rem;

}

.etiket_2 h3 {

    padding-top: 12rem;
    margin-left: -8rem;
    margin-bottom: 0.5rem;
    font-size: x-large;
}


 .yetmisdört {
    margin-left: -8rem;
    color: orange;
    font-size: x-large;
}



.etiket_2 del{
    font-size: large;
    color:black;
    
}

.etiket_2 div {
    
    margin-top: 30px;
    font-size: 16px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    border-radius: 5px;
    margin-left: -8rem;
}


.shipping {
    position:relative;
    margin-top: 25rem;
    margin-left: -19rem;
    font-size: x-large;
}



.shipping span {
    padding-left: 16rem;
}

.total {
    position:relative;
    margin-top: 28rem;
    margin-left: -24rem;
    font-size: x-large;
}

.total span {
    padding-left: 16rem;
}

.yüzkirksekiz {
    padding-left: 15rem;
}


.button {
    display: flex;
    margin-top: 1rem;
    margin-left: 26rem;
    background-color: orange;
    color: white;
    height: 3rem;
    width: 5rem;
    border: none;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
}